/********************************************
   AUTHOR:  			Seb Luca
   VERSION:          1.1
	LAST MODIFIED     fev-22-2018	
 *******************************************/
 
/********************************************
   HTML ELEMENTS
********************************************/ 

@font-face {
	font-family: 'FontAwesome';
	src: url('../fonts/fontawesome-webfont.eot');
	src: url('../fonts/FontAwesome.otf') format('truetype'),
	url('../fonts/fontawesome-webfont.woff') format('woff'),
	url('../fonts/fontawesome-webfont.ttf') format('truetype'),
	url('../fonts/fontawesome-webfont?#iefix') format('embedded-opentype'),
	url('../fonts/fontawesome-webfont') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Top Elements */
* { margin: 0; padding: 0; outline: 0 }

body {
	font: Verdana, Tahoma, arial, sans-serif;
	color: #555; 
}

/* links */
a {
	text-decoration: none;
	color: #2180BC;
	background: inherit;
}
a:hover {
	color: #006699;
	background: inherit;
	text-decoration: underline;
}

a i.fa-eye-slash {

	color: red;
}

a .navbar-brand{
	color: #2180BC

}

/* headers */
h1, h2, h3 {
	font-family: 'Verdana', Tahoma, Sans-serif;	
	text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5); 		
}
h1 {
	font-size: 2em;	
	font-weight: normal;
	color: #006699;
}
.home h2 {
	text-align: center;
	color: #006699;
	font-size: 2em;	
}
h2 {
	font-size: 1em;
	text-transform: uppercase;
	color: #006699;
}
h3 {
	font-size: 1.5em;
	color: #006699; 
}

/* images */
img {
   border: none;
}
img.float-right {
  margin: 5px 0px 10px 10px;  
}
img.float-left {
  margin: 5px 10px 10px 0px;
}

h1, h2, h3, p {
	padding: 10px;		
	margin: 0;
}
ul, ol {
	margin: 5px 20px;
	padding: 0 20px;
}

code {
  margin: 5px 0;
  padding: 10px;
  text-align: left;
  display: block;
  overflow: auto;  
  font: 500 1em/1.5em 'Lucida Console', 'courier new', monospace ;
  /* white-space: pre; */
  background: #FAFAFA;
  border: 1px solid #f2f2f2;  
}
acronym {
  cursor: help;
  border-bottom: 1px dotted #777;
}
blockquote {
	margin: 10px;
 	padding: 0 0 0 28px;  
   border: 1px solid #f2f2f2; 
  	background: #FAFAFA url(../images/quote.gif) no-repeat 5px 5px;    
}

.center{
	text-align: center;
}

.fa-trash{ 
  color: #f90000;
}

/********************************************
   LAYOUT
********************************************/ 

header {
	
}
header h1 a {
	
}
header h1 a:hover {
    text-decoration:none;
}
header p {
	position: absolute;
	margin: 0; padding: 0;
	font: normal 12px 'Trebuchet MS', Arial, Sans-serif;
	text-transform: none;
	color: #FFF;
	
	/* change the values of top and left to adjust the position of the slogan*/
	top: 70px; left: 55px;		
}

/* header links */
header #header-links {
	position: absolute;
	top: 20px; right: 30px;	
	color: #C6DDEE;
	font-size: 10px;	
}
header #header-links a {	
	color: #FFF;
	text-decoration: none;	
}
header #header-links a:hover {
	color: #D4E59F;	
}

nav ul li a {
	font-size: 1.0em;
	
}

.dropdown, .dropup {
    margin-left: 30px;
}

.navbar-inverse .navbar-nav a.active {
	font-size: 1.0em;
	color: #fff; 
}

.img-fluid{

max-width: 100%;
height: auto; 

	} 

.navbar {
    margin-bottom: 0px;
}

.navbar-nav a.active {
	color: #fff;
    display: block;
    padding: .5rem 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
}

.navbar-nav {
    float: right;
    margin: 0 15px;
}

nav ul li.last {
	float: right;
	margin: 0 0 0 15px;
	
}
nav ul li a:hover {
}
nav ul li#current a {	
	
}


/* Main Column */
#main {
	float: left;
	width: 70%;
	padding: 0; margin: 5px 0 0 5px;
	display: inline;
}
#main h2 {
	margin-top: 10px;
	font: Bold 140% 'Trebuchet MS', Tahoma, Sans-serif;
	color: #88ac0b; 
	padding: 5px 0 5px 25px; 	
	border-bottom: 1px solid #EFF0F1;
	background: #FFF url(../images/square-green.png) no-repeat 3px 50%;	
	text-transform: none;
}
#main h2 a {
	background: none;
	color: #88ac0b;
	text-decoration: none;
}

#main ul li {
	list-style-image: url(../images/bullet.gif);
}

legend {
    font-size: 11px;
    padding: 0 10px;
}
.glyphicon.glyphicon-comment{
    top: 4px;
}

.post-footer {
	background-color: #FAFAFA;
	padding: 5px; margin: 20px 10px 10px 10px;
	border: 1px solid #f2f2f2;
	font-size: 95%;	
}
.post-footer .date {
	background: url(../images/clock.gif) no-repeat left center;
	padding-left: 20px; margin: 0 10px 0 5px;
}
.post-footer .comments {
	background: url(../images/comment.gif) no-repeat left center;
	padding-left: 20px; margin: 0 10px 0 5px;
}
.post-footer .readmore {
	background: url(../images/page.gif) no-repeat left center;
	padding-left: 20px; margin: 0 10px 0 5px;
}

/* alignment classes */
.float-left  { float: left; }
.float-right { float: right; }
.align-left  { text-align: left; }
.align-right { text-align: right; }

/* display and additional classes */
.clear { clear: both; }

.middle { vertical-align: middle; }

.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.card img.card-img-top {

	box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);

}

.card-imgcircle{
	text-align: center;
}

.card-bodyindex h2 {
   text-align: center;
}


.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem 0;
}

.mb-6, .my-6 {
    margin-bottom: 1.5rem !important;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 0px; /* Margin bottom by footer height */
}

.featurette-divider {
    margin: 5rem 0;
}

.footer {
  position: absolute;
   bottom: 0; 
  margin-top: 10px;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 40px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

.pull-right {
    float: right !important;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
  bottom: none;
  top: 20px;
}

.btn-group, .btn-group-vertical {
    margin-left: 50px;
     margin-right: 5px;
}

.btn-group a{
  margin-left: 5px;
  margin-right: 5px;
}

.previous, .next{
  margin-left: 25px;
  margin-right: 25px;

}
.previous a, .next a{
 color: #fff; 

}

.btn-ajoutercom, .btn-ajoutercom:hover, .btn-ajoutercom:focus {
    color: #333;
    text-shadow: none;
    background-color: #fff;
    border: .05rem solid #006699;
}

.mb-0, .my-0 {
  text-align: center;
}

/* annimation */

.material-switch > input[type="checkbox"] {
    display: none;   
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative; 
    width: 40px;  
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}
.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */


.form-signin {
  width: 100%;
  max-width: 420px;
  padding: 15px;
  margin: 0 auto;
}

.form-com {
  width: 100%;
  max-width: 550px;
  padding: 15px;
  margin: 0 auto;
}

#contact {

    display: block;
    top :50%;
    transform: translateY(50%);
}

/* Sur les écrans, quand la largeur de la fenêtre fait au maximum 768px */
@media screen and (max-width: 768px)
{ 	
	#contact {
    	display: block;
    	top :10%;
    	transform: translateY(10%);
	}

}



